$primary-color: #e11e40;
$text-color: #333;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
body {
  font-size: 1.6rem;
  background-color: #f5f5f5;
}
.container {
  width: 500px;
  margin: 0 auto;
  user-select: none;
  &.pause {
    background-color: red;
  }
  .dashboard {
    padding: 16px 16px 14px;
    text-align: center;
    background-color: white;
    position: fixed;
    top: 0px;
    width: 100%;
    max-width: 500px;
    border-bottom: 20px solid #f5f5f5;
    header {
      margin-bottom: 10px;
      font-weight: bold;
      .playing {
        font-size: 1.3rem;
        color: $primary-color;
        margin-bottom: 5px;
      }
      .titleSong {
        font-size: 2rem;
      }
    }
    .cd {
      display: flex;
      margin: auto;
      width: 200px;
      .cd-thumb {
        width: 200px;
        padding-top: 100%;
        border-radius: 50%;
      }
    }
    .control {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 18px 0 8px;
      .btn {
        border: none;
        background: transparent;
        color: #555;
        font-size: 2.5rem;
        cursor: pointer;
        &:hover {
          color: black;
        }
        &.btn-play {
          width: 50px;
          height: 50px;
          color: white;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background: $primary-color;
        }
        &.active {
          color: $primary-color;
        }
      }
    }
    #progress {
      width: 100%;
      border-radius: 999px;
      -webkit-appearance: none;
      height: 5px;
      background-color: #e0e0e0;
      opacity: 0.7;
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 12px;
        height: 6px;
        border-radius: 999px;
        background-color: $primary-color;
        cursor: pointer;
      }
    }
  }
  #playlist {
    margin-top: 390px;
    .playlist__item {
      border-radius: 8px;
      padding: 12px 16px;
      background-color: white;
      margin-top: 8px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #e0e0e0;
      cursor: pointer;
      &.active {
        background-color: $primary-color;
        color: white;
      }
      &:active {
        opacity: 0.5;
      }
      .playlist__thumb {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        margin-right: 30px;
      }
      .infor {
        .title-song {
          font-weight: bold;
          font-size: 1.8rem;
        }
        .singer-song {
          margin-top: 10px;
          font-size: 1.3rem;
        }
      }
      .option {
        margin-left: auto;
      }
    }
  }
}
